<h1>Member List</h1>
<table class="table table-hover" id="table_id">
<thead>
  <tr>
    <th>Email Id</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 </thead>
 <tbody>
  <% @members.each do |member| %>
     <tr>
      <td><%= member.user.email%></td>
      <td><%= link_to image_tag("/edit.png"), edit_admin_member_path(member) %></td>
      <td><%= link_to image_tag("/delete.png"), admin_member_path(member),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add Member',  new_admin_member_path, :class => "btn btn-primary" %>
<%= link_to 'BacK',  admin_path, :class => "btn btn-primary" %>


