<%= form_for([:admin , @artist]) do |f| %>
 <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@artist.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @artist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-hover">
<tr>
  <td><%= f.label :real_name %></td>
  <td><%= f.text_field :real_name %></td>
</tr>

<tr>
  <td><%= f.label :nick_name %></td>
  <td><%= f.text_field :nick_name %></td>
</tr>

<tr>
  <td><%= f.label :address %></td>
  <td><%= f.text_area :address%></td>
</tr>

<tr>
  <td><%= f.label :Date_of_Birth %></td>
  <td><%= f.date_field :dob %></td>
</tr>

<tr>
  <td><%= f.label :hometown %></td>
  <td><%= f.text_field :hometown %></td>
</tr>

<tr>
  <td><%= f.label :religion %></td>
  <td><%= f.text_field :religion %></td>
</tr>

<tr>
  <td><%= f.label :nationality %></td>
  <td><%= f.text_field :nationality %></td>
</tr>
<tr>
<td rowspan="2" align="center"><%= f.submit %></td>
</tr>
<% end %>
</table>