<h1>Data Items</h1>
<table class="table table-hover" id="table_id">
<thead>
   <tr>
	    <th><%=t('title')%></th>
	    <th><%=t('type')%></th>
	    <th><%=t('is_active')%></th>
      <th><%=t('show')%></th>
      <th><%=t('edit')%></th>
      <th><%=t('delete')%></th>
   </tr>
</thead>
<tbody>
   <% @data_items.each do |item| %>
   <tr>
      <td><%= link_to item.title, admin_data_item_content_items_path(item.id) %></td>
      <td><%= item.type %></td>
      <td><%= item.is_active %></td>
      <td><%= link_to image_tag("/show.jpg"), admin_data_item_path(item) %></td>
      <td><%= link_to image_tag("/edit.png"), edit_admin_data_item_path(item) %></td>
      <td><%= link_to image_tag("/delete.png"),admin_data_item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t('data_items'),  new_admin_data_item_path,:class => "btn btn-primary" %>