<h1>Content :- <%= @data_item.title %></h1>
<table class="table table-hover" id="table_id">
<thead>
   <tr>
	    <th><%=t('title')%></th>
      <th><%=t('description')%></th>
      <th><%=t('show')%></th>
      <th><%=t('edit')%></th>
      <th><%=t('delete')%></th>

	 </tr>
</thead>
<tbody>
   <% @content_items.each do |content_item| %>
   <tr>
      
      <td><%= link_to content_item.title,admin_data_item_content_item_content_resources_path(@data_item.id,content_item.id)%></td>
      <td><%= content_item.description %></td>
      <td><%= link_to image_tag("/show.jpg"), admin_data_item_content_item_path(@data_item.id,content_item.id) %></td>
      <td><%= link_to image_tag("/edit.png"), edit_admin_data_item_content_item_path(@data_item.id,content_item.id) %></td>
      <td><%= link_to image_tag("/delete.png"),admin_data_item_content_item_path(@data_item.id,content_item.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Content Item',  new_admin_data_item_content_item_path , :class => "btn btn-primary"%>
<%= link_to 'Back', admin_data_items_path , :class => "btn btn-primary"%>