<h1>Resources</h1>

<%= link_to 'New Content Resource',  new_admin_data_item_content_item_content_resource_path , :class => "btn btn-primary"%>
<table class="table table-hover" id="table_id">
	<thead>
	   <tr>
	      <th>Media</th>
	      <th>Delete</th>
	   </tr>
    </thead>
	<tbody>
	   <% @content_resources.each do |content_resource| %>
	     <tr class="active">
	          <td>
	          <% if content_resource.is_image_type?%>
	          <%= image_tag content_resource.media.url(:thumb), style: "max-width: 45%;" %>
	          <%else%>
	        	<%= video_tag content_resource.media.url,controls: true, style: "max-width: 45%;"%>  
	          <% end %>
	          </td>
	           <td><%= link_to image_tag("/delete.png"),admin_data_item_content_item_content_resource_path(@data_item,@content_item,content_resource),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
             
			 </tr>
       <% end %>
           
	</tbody>
</table>
<%= link_to 'New Content Resource',  new_admin_data_item_content_item_content_resource_path , :class => "btn btn-primary"%>
<%= link_to 'Back', admin_data_item_content_items_path , :class => "btn btn-primary"%>